:root {
  --main-bck: #F8EDE3;
  --sec-bck: #A2B29F;
  --main-txt: #474e46;
  --no-data: #2e2f2e;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: var(--main-bck);
}

h1 {
  color: var(--main-txt);
  font-size: 3.5rem;
}

p {
  font-style: italic;
  color: var(--no-data);
}

input {
  font-family: 'Cormorant Garamond', serif;
  font-weight: 400;
}

input:focus {
  outline: none;
}

/* top-container section */
.header {
  margin: 1.5rem auto 0 auto;
  width: 100%;
  text-align: center;
}

/* search */
.search {
  margin: 1rem auto 0 auto;
  text-align: center;
}

#search-field {
  width: 30%;
  font-size: 1rem;
  padding: 0.2rem;
  font-style: italic;
  text-align: center;
}

.no-data {
  font-style: italic;
  text-align: center;
  color: var(--main-txt);
}

/* list container */
.list-container {
  width: 90%;
  margin: 5rem auto;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "card card";
}

/* card */
.card {
  display: flex;
  gap: 0.8rem;
  border-radius: 5px;
  padding: 1rem;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(71, 78, 70, 0.32);
  box-shadow: 5px 5px 15px 5px rgba(71, 78, 70, 0.32);
}

.cover {
  height: 150px;
  width: 100px;
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(71, 78, 70, 0.24);
  box-shadow: 5px 5px 15px 5px rgba(71, 78, 70, 0.24);
}

.card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-top {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.card-head {
  width: 100%;
}

.card-bottom a {
  color: var(--main-txt);
  text-decoration: none;
}

.credits {
  text-align: center;
}

.credits a {
  color: var(--no-data)
}